*{
    margin: 0px;
    padding: 0px;
}

/* .App {
    width: 100vw;
} */

.containers {
    /* width: 100vw; */
    height: 100vh;
    display: flex;
    margin: 0px;
    padding: 0px;
    /* align-items: center; */

}

.left {
    width: 25vw;
    background-color: aquamarine;
    height: 100vh;
    border: 1px solid black;
}

.right {
    width: 25vw;
    background-color: aquamarine;
    height: 100vh;
    border: 1px solid black;
}

.content {
    width: 50vw;
}